body {
    margin: 0;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #2b2b2b;
    line-height: 1.2;
}

h1, h3 {
    margin-top: 0;
    letter-spacing: 1.5px;
}

a {
    color: #4a7396;
}

#background {
    background: #ececec;
    border-radius: 30px;
    margin-bottom: 20px;
}

#search {
    background-color: #407396;
    color: #ececec;
}

#search:hover {
    background-color: #7292ad;
    transition: 0.5s ease;
}

.media {
    margin-top: 20px;
    background: #ececec;
    padding: 20px;
    border-radius: 30px;
    position: relative;
}

.media-wrapper {
    width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.media-body {
    padding-left: 8px;
}

.media-player audio:hover {
    opacity: 0.7;
    transition: 0.5s ease;
}